

<app-doctor-navbar></app-doctor-navbar>
<h1 class="mt-4 display-4 text-center">Pending Patients List</h1>

<table class="table align-middle mt-5">
    <thead>
      <tr>
        
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">AppointmentOn</th>
        <th scope="col">Health Problem</th>
        <th scope="col">Others</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of PendingPatients" >
       
       <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.age}}</td>
        <td>{{p.gender}}</td>
        <td>{{p.appointmentOn}}</td>
        <td>{{p.healthProblem}}</td>
        <td>{{p.others}}</td>
        <td>{{p.status}}</td>
        <td>
            <div >
                <button type="button" (click)="openDialog(p.id)" class="btn btn-primary form-group " >Change Status</button>
               
            </div>
        </td>
        
        
      </tr>
     
    </tbody>
</table>
        
     

  
