<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/Patient" routerLinkActive="active"  >MedLife-Patient</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Patient/appointment-booking" routerLinkActive="active">Book Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Patient/booking-details" routerLinkActive="active"  >View Booking Details </a>
          </li>
         
          
        </ul>
        
  
        <div class="d-flex align-items-center">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
            </li>
          </ul>
  
        </div>
  
  
      </div>
    </div>
  </nav>
    